  <body>
    <div class="container">
    
      
      <div class="path">
        <label>路径:</label>
        <input id="path"/>
      </div>
      <textarea
        id="text-input"
        rows="6" cols="60"
      >
      ##input
      </textarea>
      <button id="submit">保存</button>
      <p>
        前往<a target="_blank" href="https://sindresorhus.com/github-markdown-css/">这里</a>查看规则
      </p>
      <p>
        前往<a target="_blank" href="https://dillinger.io/">这里</a>编辑你的文件
      </p>
    </div>
    <div class="list-container">

    </div>
  </body>