  <body>
    <div class="container">
    
      <p>
        前往<a target="_blank" href="https://sindresorhus.com/github-markdown-css/">这里</a>查看规则
      </p>
      <p>
        前往<a target="_blank" href="https://dillinger.io/">这里</a>编辑你的文件
      </p>
      <div class="list-container">

      </div>
      <div class="path">
        <label>路径:</label>
        <input id="path"/>
        <button id="add" class="float">清空</button>
      </div>
      <textarea
        id="text-input"
        rows="6" cols="60"
      >
      ##input
      </textarea>
      <div class="path">
        <label>授权码:</label>
        <input id="authority"/>
      </div>
      <button id="submit">保存</button>
      <p class="none tip" id="tip-authority">授权码错误</p>
    </div>
  </body>