.partner-container{
  background-color: #2f005b;
  min-height: 380px;
}
.partner-content{
  overflow: hidden;
}
.partner-content img{
  max-width: 250px;
  display: block;
  float: left;
  margin-top: 2rem;
  margin-right: 1.5rem;
}