@font-face {
  font-family: 'musical-ly';
  src: url('/act/assets/font/AvenirNextLTPro-Regular.eot');
  src: url('/act/assets/font/AvenirNextLTPro-Regular.woff2') format('woff2'),
       url('/act/assets/font/AvenirNextLTPro-Regular.woff') format('woff'),
       url('/act/assets/font/AvenirNextLTPro-Regular.ttf') format('truetype'),
       url('/act/assets/font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg'),
       url('/act/assets/font/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din';
  src: url('/act/assets/font/DINPro-CondensedBold.eot');
  src: url('/act/assets/font/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
      url('/act/assets/font/DINPro-CondensedBold.woff2') format('woff2'),
      url('/act/assets/font/DINPro-CondensedBold.woff') format('woff'),
      url('/act/assets/font/DINPro-CondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html{
  font-family: musical-ly, sans-serif;
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-size: 12px;
}
body{
  margin:0;
  overflow-x: hidden;

}
article,
aside,
footer,
header,
nav,
section{
  display:block
}
h1{
  font-size:2em;
  margin:.67em 0
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible
}
pre{
  font-family:monospace,monospace;
  font-size:1em
}
a{ 
  background-color:transparent;
  -webkit-text-decoration-skip:objects
}
ul{
  padding: initial;
}
@media(min-height: 28.75rem){
  .main{
    height:100vh;
    min-height:28.75rem;
  }
  .main-container{
    height: calc(2 * 100vh);
  }
}
.main{
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}
.main-container{
  height: auto;
  position: relative;
}
.page-height{
  min-height: 60vh;
}
.top-margin-move{
  margin-top: -20px;
}
.top-margin-move-lg{
  margin-top: -40px;
}

.title-container,
.winner-container,
.partner-container,
.meet-container,
.banner-content{
  padding-top: 10vh;
}
.tab-item h1,
.title-container h1,
.winner-container h1,
.banner-content h1,
.partner-container h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 4.3rem;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #ffffff;
}

.winner-container,
.meet-container{
  height: 70vh;
  min-height: 600px;
}

.tab-container,
.slider-tab-container,
.countDown,
.list-reset,
.partner-content,
.winner-tag-cotainer,
.nameList,
.termofuse-container
{
  display: block;
  max-width: 960px;
  margin: 0rem auto;
}

.m-t-lg{
  margin-top: 5rem !important;
}

.m-t-sm{
  margin-top: 1rem;
}

.m-r-md{
  margin-right: 2rem;
}


.float-right{
  float: right;
}

.float-left{
  float: left;
}

.width-84{
  width: 84% !important;
}

.width-100{
  width: 100%;
}

.img-160{
  max-width: 160px;
}

.img-210{
  max-width: 210px;
}

.min-height-195{
  min-height: 195px;
}

.line-height-55{
  line-height: 55px;
}

.line-height-39{
  line-height: 39px;
}

.about-container{
  max-height: 940px;
}

@media(max-width: 769px){
  .title-container{
    padding-top: 6vh;
  }
  .winner-container,
  .about-container,
  .partner-container,
  .banner-content{
    height: 100vh;
  }

  .title-container h1,
  .winner-container h1,
  .banner-content h1,
  .partner-container h1,
  .tab-item h1{
    font-size: 3.3rem;
  }
  .img-160{
    width: 109px;
  }
}

.ad-container,
.ad-container-single-media-element-annotations,
.html5-video-player .ad-overlay,
.ad-overlay{
  display: none !important;
}
#media{
  margin-bottom: -10px;
  margin-top: -25px;
}
.overflow-y-hidden{
  overflow-y: hidden;
}