
<span class='close'>X</span>
<h2> ऑडिशन नियम </h2>
<article>
  <h4>1. 1 लाख ऑडिशन क्या है?</h4>

  <article>

    <p>यह musical.ly भारत द्वारा शुरू किया गया एक निर्माता खोज प्रोग्राम है। musical.ly सभी समुदाय को उनकी रचनात्मकता (creativity) दिखाने के लिए, भारतीय प्रतिभाओं को खोजने और उनको प्रभावित करने के लिए बड़े पैमाने पर इनबाउंड और आउटबाउंड संसाधनों का निवेश करेंगे और उनका प्रभाव बढ़ेगा। एक लाख ऑडिशन में 5 विभिन्न श्रेणियां शामिल होंगी, प्रतिभागियों को नामित श्रेणियों के तहत वीडियो सबमिट करके ऑडिशन में शामिल हो सकता है।</p>

    <p>5 श्रेणियां इस प्रकार हैं:</p>
    <article>
      <p>#15sVinesAudition- 15 के दशक में कोई भी वेनिस</p>

      <p>#DanceIndiaAudition- कोई भी नृत्य वीडियो</p>

      <p>#SpecialSkillsAudition - कोई भी वीडियो जो आपके अद्वितीय और असामान्य कौशल दिखाते हैं</p>

      <p>#DuetAudition - कोई भी वीडियो जो आपकी रचनात्मक कौशल दिखाते हैं</p>

      <p>#SexyMovesAudition - कोई भी वीडियो जो आपके सेक्सी क्षण दिखाता है</p>
    </article>

    <p>2. कौन शामिल हो सकता है?</p>

    <p>15 वर्ष या इससे अधिक उम्र के लोग </p>

    <p>3. ऑडिशन में भाग लेने का तरीका </p>

    <article>

      <p>ऑडिशन में शामिल होने के लिए, आपको निर्दिष्ट हैशटैग (#) के तहत वीडियो पोस्ट करना होगा और वीडियो की सामग्री 5 श्रेणियों में से किसी से संबंधित होगी। ऑडिशन 2 राउंड में विभाजित(divide) किया जाएगा।</p>

      <p>ऑडिशन का पहला दौर 1/19 से 1/27 से शुरू होगा सभी प्रतिभागियों को नामित हैशटैग (#) के तहत वीडियो पोस्ट करना चाहिए, 1000 से अधिक विजेताओं को प्रत्येक श्रेणी में संगीत से चुना जाना चाहिए। टीम के पहले चरण में प्रदर्शन के आधार पर टीम बेस और अगले दौर में जाना चाहिए।</p>

      <p>ऑडिशन का दूसरा दौर 1/31 से 2/5 से शुरू होगा पहले दौर के प्रत्येक वर्ग के विजेता 5 दिनों में से 1 में से कम से कम 1 वीडियो में कम से कम एक वीडियो पोस्ट करने के लिए 6 दिनों का होगा। 200 के सभी विजेताओं को राउंड के दौरान पोस्ट किए गए वीडियो पर एक निर्माता का स्कोर आधार दिया जाएगा</p>

    </article>

    <p>2. उच्चतम स्कोर (highest score) वाले प्रतिभागियों को ऑडिशन मिलेगा।</p>

    <article>

      <p>*शामिल होनेवाला एक musical.ly खाता (account) होना चाहिए</p>

      <p>* शामिल होनेवाला को विशिष्ट श्रेणी से संबंधित हैशटैग (#) के साथ musical.ly ऐप (app) के माध्यम से संगीत ("वीडियो") प्रस्तुत करना होगा।</p>

      <p>* वीडियो के साथ लाइसेंस प्राप्त संगीत के अलावा, वीडियो मूल सामग्री होना चाहिए</p>

    </article>

    <p> 4. पुरस्कार</p>


  <p>सभी 1000 विजेताओं को creator score पर 10 मिलियन भारतीय रुपया का हिस्सा मिलेगा। </p>


  <p>5. ऑडियंस के विजेताओं को कैसे तय किया जाए? </p>

  <article>

    क्रिएटर स्कोर (Creator Score)  - musical.ly एल्गोरिथम का उपयोग करें, आपके वीडियो दृश्य संख्या (video views), और अन्य उपयोगकर्ता इंटरैक्टिव (interactive content) डेटा के आधार पर एक लाख ऑडिशन के दौरान आपके प्रदर्शन की गणना करने के लिए। इस एक लाख ऑडिशन के दौरान अंतिम स्कोर (score) आपकी 
    हुनर  और क्रिएटिविटी को इंगित करता है।

  </article>


  <p>6. चेतावनी</p>

  <article>

  <p>* कृपया हैशटैग (#) स्पैम नहीं करें और केवल आपके द्वारा चुनी गई  उचित (relevant) वीडियो पोस्ट करें।</p>

  <p>* किसी भी प्रकार की नकली पसंद बर्दाश्त नहीं की जाती है। यदि आप किसी भी भागीदार को देख रहे हैं जो ऑडिशन जीतने के लिए नकली पसंद का उपयोग कर रहे हैं, तो कृपया musical.ly टीम को रिपोर्ट फॉर्म सबमिट करें। एक बार सत्यापित होने पर, प्रतिभागिता को इस ऑडिशन से अयोग्य घोषित किया जाएगा।</p>

  </article>