
<!doctype html>

<html>
  <%- include('../header', {
   cssSrc: './common/css.ejs',
   title: 'not found',
   path: 'not_found'
  }) %>
  <body>
    <div class="not-found-container">
      <h1>404!</h1>
    </div>
  </body>
</html> 