
<!doctype html>

<html>
  <%- include('../components/header.ejs', {
   cssUrl: '../views/css.ejs',
   title: 'not found'
  }) %>
  <body>
  <div class="not-found-container">
    <h1>404!</h1>
  </div>
  </body>
</html> 