<section id='winners'>
  <div class='winner-container'>
    <h1> <%= JSON.parse(titleList).winner %> </h1>
    <div class="nameList">
      <ul class="winner-top-container">
        <% for(var i=0; i< topFiveWinners.length; i ++ ) {%>
          <li class="winner-item">
            <img src="/act/assets/<%=topFiveWinners[i].name%>.png"/>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</section>