<section id="introduction-container">
  <div class="wrapper">
    <figure>
      <img src="//musically.muscdn.com/ops/upload/default/2018/03/23/15/d6acc58b-fc58-4b91-b672-7b760b605b9c.png"></img>
    </figure>
    <article>
      <h2>What is the 1Million Program?</h2>
      <p>
        The 1Million Program is an initiative created by musical.ly to discover and highlight creators on the platform. Through this program, musical.ly hopes to incubate emerging talent on the platform and provide them with the tools to grow their influence and share their creativity with the world. The 1Million US Audition will focus on 5 categories, and prompt participants to join by submitting their audition videos under one or multiple categories for their chance to win.
      </p>
    </article>
  </div>
</section>