<section id='About' class='about-container'>
  <div class='title-container'>
    <h1>  ABOUT </h1>
    <p>1 Million Audition x musical.ly Fest</p>
  </div>
  <amp-selector
    role="tablist"
    layout="container"
    class="ampTabContainer"
  >
    <div role="tab"
      class="tabButton"
      selected
      option="a"
    >
      Tab one
    </div>
    <div
      role="tab"
      class="tabButton"
      option="b"
    >
      Tab two
    </div>
    <div role="tab"
      class="tabButton"
      option="c"
    >
      Tab three
    </div>
    <div role="tabpanel"
      class="tabContent"
    >
      Tab three content...
    </div>
    <div role="tabpanel"
      class="tabContent"
    >
      Tab two content...
    </div>
    <div
      role="tabpanel"
      class="tabContent"
    >
      Tab one content...
    </div>
  </amp-selector>
</section>