<section id='About' class='about-container page-height'>
  <div class='title-container'>
    <h1>  ABOUT </h1>
    <p>1 Million Audition x musical.ly Fest</p>
  </div>
  <div class='tab-container'>
    <ul>
      <% for(var i =0; i < aboutTagList.length; i++) { %>
        <li>#<%= aboutTagList[i] %></li>
      <%
        }
      %>
    </ul>
  </div>
</section>