.ampTabContainer {
  display: flex;
  flex-wrap: wrap;
}

.tabButton[selected] {
  outline: none;
  background: #ccc;
}

.tabButton {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.tabContent {
  display: none;
  width: 100%;
  order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
  border: 1px solid #ccc;
}

.tabButton[selected]+.tabContent {
  display: block;
}

/* For example below (not required) */
.itemCustom {
  border: 1px solid #000;
  height: 280px;
  width: 380px;
  margin: 10px;
  text-align: center;
  padding-top: 140px;
}
.amp-selector {
  padding: 1rem;
  margin: 1rem;
}

.about-container{
  width: 100%;
	background-image: linear-gradient(55deg, #e02f53, #ff386d 49%, #ff386e 49%, #ff22a7);
}
.title-container{
  padding-top: 7rem;
  color: #fff;
  padding-bottom: 1rem;
}
.partner-content h1,.title-container h1, .winner-container h1, .banner-content h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 4.3rem;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #ffffff;
}
.title-container p{
  text-align: center;
  font-size: 24px;
	font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 300;
	color: #ffffff;
}
.tab-container{
  max-width: 960px;
  margin: 0rem auto;
}
.tab-container ul{
  text-align: center;
}
.tab-container li{
  list-style: none;
  display: inline-block;
  padding: 0rem 1rem;
  color: #fff;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.tab-container li.active{
  font-weight: 500;
}