#termofuse{
  width: 100%;
  background: #000;
}
.termofuse-container {
  color: #fff;
  padding: 3rem;
}
.termofuse-container  h3{
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.termofuse-container  p{
  font-size: 1.4rem;
  text-align: center;
}