
  <body>
    <% include ./component/nav/nav %>
    <div class='main'>
      <div class='main-container'>
        <%- include('./component/banner/banner', { countDown}) %>
        <%- include('./component/about/about', { countDown}) %>
      </div>
    </div>
  </body>