<head>
  <meta charset='utf-8'>
  <title>Musical.ly - India</title>
  <meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1'>
  <meta name='description' content='musical.ly one million'>
  <% include ./css %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">
</head>