.banner-mask::before{
  content: '';
  z-index: -1;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient( to top bottom, transparent, rgba(100,100,100,.3));
  background-color: rgba(100,100,100,.3); /* 不支持渐变的浏览器回退方案 */
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(9,9,9,.35)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(9,9,9,.35)); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(9,9,9,.35)); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(9,9,9,.35)); /* Standard syntax; must be last */
  position: fixed;
}
.banner-container{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.banner-content{
  width: 100%;
  z-index: 100;
  -webkit-animation: h 2s .4s ease-out both;
  animation: h 2s .4s ease-out both
}
.banner-image{
  display: block;
  margin: 4rem auto;
  max-width: 40vw;
  opacity: 0;
  transition: all 1s;
}
.banner-image-show{
  opacity: 1;
}
.banner-mask{
  position: fixed;
  width: 100vw;
  top: 0px;
  height: 100vh;
  z-index: -1;
}
.banner-mask video{
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
}
.banner-mask img{
  display: none;
  min-height: 100%;
  min-width: 100%;
}
.countDown{
  margin: 2rem auto 4rem auto;
  text-align: center;
}
.countDown ul {
  display: block;
  padding-left: initial;
}
.countDownItem{
  list-style: none;
  box-sizing: border-box;
  max-width: 200px;
  width: 10vw;
  min-width: 110px;
  display: inline-block;
  padding: 3rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 1rem;
  background: transparent;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  text-align: center;
  margin-right: 1rem;
  font-family: 'din';
}
.countDownItem::before{
  content: '';
  background: #fff;
  filter: blur(2px);
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  opacity: .2;
  width: 100%;
}
.countDownItem span{
  font-size: 6rem;
  display: block;
  font-weight: 600;
}
.banner-image-mobile{
  display: none;
}
.mobile-logo{
  display: none;
}
@media(max-width: 1816px){
  .banner-image{
    max-width: 37%;
    margin-top: -3rem;
  }
  .banner-image-show{
    margin-top: 1vh;
  }
  .countDown li{
    padding: .8rem;
  }
}
@media(max-width: 1512px){
  .banner-image-show{
    margin: 2vh auto 5vh auto;
  }
}
@media(max-width: 1200px){
  .countDown li{
    padding: 1.5rem;
  }
  .banner-mask::before{
    height: initial;
  }
}
@media(max-width: 769px){
  .banner-content{
    margin: initial;
    padding: initial;
  }
  .banner-image-pc{
    display: none;
  }
  .banner-image-mobile{
    display: block;
  }
  .banner-image-show{
    max-width: 85%;
    margin: 6vh auto 5vh auto
  }
  .banner-mask video{
    display: none;
  }
  .banner-mask img{
    display: block;
  }
  .mobile-logo{
    max-width: 47%;
    display: block;
    margin: 1.7rem auto auto 1.7rem;
  }
  .countDown{
    margin: 4vh auto;
  }
  .countDown li{
    padding: .7rem;
  }
  .countDownItem{
    font-size: 1.2rem;
    min-width: 70px;
    margin-right: .4rem;
  }
  .countDownItem span{
    font-size: 3.5rem;
  }
  .lang-transfor-mobile {
    display: block;
  }
}

.video-iframe{
  width: 100%;
  min-height: 680px;
}