<section class='banner-container' id='home'>
  <div class='banner-content'>
    <img src='/title(banner).png' class='banner-image'/>
    <div class='countDown'>
      <ul>
        <li class='days countDownItem'>
          <span> 00 </span>
          days
        </li>
        <li class='hours countDownItem'>
          <span> 00 </span>
          hours
        </li>
        <li class='minutes countDownItem'>
          <span> 00 </span>
          minutes
        </li>
        <li class='seconds countDownItem'>
          <span> 00 </span>
          seconds
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="m0 banner-mask">
  <video
    autoplay= "autoplay"
    poster="/poster.jpeg"
    title="Big Buck Bunny"
    album="Blender"
    artist="Blender Foundation"
    layout="responsive"
    loop
  >
    <source type="video/mp4" src="/india_banner.mp4"></source>
    <source type="video/ogg" src="/india_banner.ogg"></source>
  </video>
</section>