html{
  font-family:sans-serif;
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-size: 12px;
}
body{
  margin:0;
  overflow-x: hidden;

}
article,
aside,
footer,
header,
nav,
section{
  display:block
}
h1{
  font-size:2em;
  margin:.67em 0
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible
}
pre{
  font-family:monospace,monospace;
  font-size:1em
}
a{ 
  background-color:transparent;
  -webkit-text-decoration-skip:objects
}
@media(min-height: 28.75rem){
  .main{
    height:100vh;
    min-height:28.75rem;
    pointer-events:none;
  }
  .main-container{
    height: calc(2 * 100vh);
  }
}
.main{
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}
.main-container{
  height: auto;
  position: relative;
}
.page-height{
  min-height: 60vh;
}
.top-margin-move{
  margin-top: -20px;
}
.top-margin-move-lg{
  margin-top: -40px;
}

.title-container,
.winner-container,
.partner-container,
.meet-container,
.banner-content{
  padding-top: 7rem;
}
.title-container h1,
.winner-container h1,
.banner-content h1,
.partner-container h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 4.3rem;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #ffffff;
}
.winner-container,
.meet-container{
  min-height: 680px;
}

.tab-container,
.countDown,
.list-reset,
.partner-content,
.winner-tag-cotainer,
.nameList,
.termofuse-container
{
  display: block;
  max-width: 960px;
  margin: 0rem auto;
}