
<span class='close'>X</span>
<h2> Audition Rules </h2>
  <article>
    <h4>1. What is this 1 Million Audition about? </h4>

    <article>

      <p>It's a creator discovery program initiated by musical.ly India. musical.ly will invest massive inbound and outbound resources to discover and incubate the Indian talents and help them grow their influence, to show their creativeness to the whole community. The One Million Audition will contain 5 different categories, participants can join the audition by submitting videos under one or multiple categories that will get higher chance to win.</p>

      <p>The 5 Categories are:</p>

       <article>

         <p> #15sVinesAudition - Any vines in 15s</p>

         <p> #DanceIndiaAudition - any dance videos</p>

         <p> #SpecialSkillsAudition - any videos that show your unique and unusual skills</p>

         <p> #DuetAudition - any videos that show your creative duet skills</p>

         <p> #SexyMovesAudition - any videos that show your sexy moment</p>

       <article>

    </article>

  </article>

  <article>

    <h4>2. Who Can Join?</h4>

    <article>

      <p>Open to users who are 15 years old and above. </p>

    </article>

  </article>


  <article>
    <h4>3. How To Enter?</h4>

    <article>

      <p>To join the audition, you need to post the videos under the designated hashtag and the content of the videos shall be related to any of the 5 categories. The audition will be divided into 2 rounds. </p>

      <p>The First Round of audition will start from 1/19 to 1/27. All the participants should post videos under the designated hashtag, more than 1000 winners will be chosen from each category by musical.ly team base on their performance in the first round and go to the next round.</p>

      <p>The Second Round of audition will start from 1/31 to 2/5. Winners from each category of the first round will have 6 days to post at least one video in 1 of 5 given categories. All of 200 winners will be given a creator score base on the videos they posted during Round</p>

      <p>2. The participants with the highest score will win the audition.</p>

        <article>

        <p* Entrant must have a musical.ly account</p>

        <p* Entrant must submit musicals ("Video") through the musical.ly app with the hashtag related to the specific category.</p>

        <p* Other than the licensed music accompanying the Video, the Video must be original content</p>

      </article>

    </article>
    

  </article>

  <article>

    <h4>4. Prize</h4>

    <article>

      <p>All the 1000 winners will share 10 millions Indian rupee base on the Creator Score.</p>
    
    </article>

  </article>

  <article>

    <h4>5. HOW TO DETERMINE THE WINNERS OF THE AUDITION?</h4>

    <article>

      <p>Creator score - Musical.ly use algorithm to calculate your performance during One Million audition based on your videos view number, engagements and other user interactive data. The final Score indicates the quality and creativeness of your content during this One Million audition.</p>

    </article>

  </article>

  <article>

    <h4>6. Warnings</h4>

    <article>

      <p>* Please don’t spam the hashtags and only post relevant videos under the category you choose.</p>

      <p>* Any kinds of fake likes are not tolerated. If you find any participant who is using fake likes to win the audition, please submit the report form to the musical.ly team. Once verified, the participant will be disqualified from this audition.</p>

    </article>

  </article>

