<h2>Musical.ly 1million Audition Contest Rules</h2>
<h2>(“Official Rules”)</h2>

<ol start="1">
  <li>
    <u>HOW TO ENTER</u>:NO PURCHASE OF ANY KIND IS NECESSARTY TO ENTER OR WIN.  VOID WHEREVER PROHIBITED OR WHERE REGISTRATION OR BONDING REQUIRED, AND SUBJECT TO ALL FEDERAL, STATE AND LOCAL LAWS.  
  </li>
  <p>
   To participate in the Musical.ly 1 Million Audition Contest (the “Contest”) beginning at 12:00 a.m. Pacific Time (“PT”) on March 30, 2018 through 8:00 AM PT on April 16, 2018 (“Contest Period”), you must submit your Contest entry through the Musical.ly mobile application (collectively, the “Entry”). 1 Million Audition is an audition on musical.ly where we discover the next wave of creators who could potentially reach 1 Million followers on the platform. Visit https://www.musical.ly/act/us and follow the instructions described on the Contest webpage (the “Instructions”) on how to submit your Entry. Among other things, all Entries must be submitted via Musical.ly and tagged with the specific category hashtags described below. Entries should also be tagged with the hashtag #MusicallyContest. All requested Entry information must be completed.  Time of entry will be determined by Sponsor in its sole discretion. 
  </p>
  <p>
    By registering for the Contest and/or submitting an Entry, each participant is agreeing that Musical.ly may use his or her data, including personal data, in accordance with Musical.ly’s privacy policy located at https://musical.ly/en-US/privacy.
  </p>
  <p>
    All Entries must meet the following criteria: 
  </p>
  <p>Participants will be able to choose between the following five categories: Dance Audition, Music Audition, Prank Audition, Comedy Audition, Skill Audition (each a “Category” and collectively "Categories") and must upload videos using the hashtag of the chosen Category.</p>

  <p>Entries must be no longer than 5 minutes in length.</p>
  <p>Entries must be original, exclusively created and owned by entrant, and the entrant must have all rights necessary to post
    the video and submit the Entry.</p>
  <p>Entries may be submitted by uploading through the Musical.ly mobile app. </p>
  <p>Entries must not previously have been publicly available.</p>
  <p>Entries may not contain images of any individuals who are under 18 years of age or who have not provided their authorization.  By submitting an image of any individual under the age of majority in their jurisdiction of residence, you represent that you have received permission from such minor’s parent or legal guardian to include such minor’s image. </p>
  <p>Entries may not contain material that is obscene, defamatory, libelous, threatening, pornographic, racially or ethnically
    offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, or violate
    any law. Entries must be appropriate for viewing by the general public; appropriateness will be determined by Sponsor.er prohibited or where registration or bonding required, and subject to all federal, state and local laws
    Sponsor reserves the right to reject any entry for any reason.
  </p>
</ol>
<ol start="2">
  <li>
    <strong>
      <u>ELIGIBILITY:</u>
    </strong>
    Each entrant must be current U.S. legal residents who are at least 18 years of age or such higher age of majority in the resident’s jurisdiction for the duration of the Contest Period.    Entrants must agree to the terms and conditions of Sponsor’s General Terms and Conditions, a copy of which can be found at http://www.musical.ly/en-US/term.  Affiliates, subsidiaries, advertising, promotion, and fulfillment agencies or Sponsor, and immediate family members and persons of employees, officers and directors of Sponsor living in their same household, are not eligible to participate in the Contest.    </li>
</ol>

<ol start="3">
  <li>
    <u>WINNERS</u>Winner of the Contest will be determined based on the following:&nbsp;
  </li>
  <p>There will be two rounds:</p>
  <p>
    <u>Round 1 &ldquo;Auditions&rdquo;</u>
    Round 1 will last from the beginning of the Contest Period until 11:59 p.m. PT on April 6, 2018 (the “Round 1 Period”).  During the Round 1 Period, Sponsor or its designees will select the best 1000 Entries across all Categories.  Sponsor reserves the right to select fewer than 1000 winners if, in its sole discretion, the number or quality of Entries does not meet a minimum standard, to be determined by Sponsor.  Round 1 Auditions will be scored by Sponsor or its designees.  Each Entry selected by Sponsor or its designees as part of Round 1 to move on in the Contest is a “Round 1 Selection.”
  <p>
    <u>Round 2 &ldquo;Auditions&rdquo;</u>
    Following the Round 1 Period, each Round 1 Selection will be given a "creator score" which will be calculated based on factors including video quality,
    engagement, creativity, and originality, as well as fit for the proposed theme.  The Round 2 Period will end at 11:59 p.m. PT on April 13, 2018.
    Sponsor or its designees will select 200 winners, 40_ winners from each Category, based on a combination of Round 1 and Round 2 scoring.  The 200 Round 2
    Audition winners will each be a “Round 2 Winner.”  Each Category winner from Round 2 will be a “Grand Prize Winner.”
    Because this is a contest of skill, winning the Contest is dependent on the quality and number of submissions received.  Sponsor or its designees will judge the quality and creativeness of Entries using algorithmic scoring to calculate the quality of Entrant’s performance during the Contest based on Entrants’ videos view number, engagements and other user interactive data. 
  </p>
</ol>
<ol start="4">
  <li>
    <strong>
      <u>NOTIFICATION:</u>
    </strong>
    Round 1 Selections will be announced on or about _April 11, 2018. Round 2 Winners and Grand Prize Winners will be announced on or about April 18, 2018.  Round 1 Selections, Round 2 Winners and Grand Prize Winners will be displayed on the website at https://www.musical.ly/act/us. Sponsor may also attempt to notify individuals via other contact methods.  By participating, entrants agree to the Official Rules and the determination of winners by Sponsor, which shall be final and binding in all respects (including as to the application and interpretation of the judging algorithm).  Entry in the Contest and acceptance of any prize constitutes permission to use entrant’s name, biographical information, likeness and company information without further compensation, except where prohibited by law and as otherwise provided herein.  No information regarding judging will necessarily be disclosed.  </li>
</ol>

<ol start="5">
  <li>
    <u>PRIZES</u>
    <p>
      <u>Round 2 Winners</u>
      There will be 200 Round 2 Winners.  Each Round 2 Winner will receive an amount between $200-$1500 as follows: the Top 5 Winners regardless of Category will each receive $1500, the Top 6-30 Winners regardless of Category will each receive $1000, the Top 31-100 Winners regardless of Category will each receive $500, and the Top 101-200 Winners regardless of Category will each receive $200. This will be payable in a form to be determined by Sponsor and subject to such Round 2 Winner providing all necessary information to collect his or her prize.
      <u>Grand Prize Winners</u>
      There will be five Grand Prize Winners.  Each Grand Prize Winner will be awarded $1500 and the following:
      <ul>
        <li>
          (i)  a roundtrip economy flight to Los Angeles, CA selected by Sponsor from the major commercial airport closest to winner’s residence to attend a photoshoot with the other Grand Prize Winners; and 
        </li>  
        <li>
          (ii) hotel accommodations for  two nights, standard accommodation at a hotel selected by Sponsor .
        </li>
      </ul>
        Trip must be taken on dates specified by Sponsor. If winner cannot travel on the dates specified, the prize may be forfeited.  All travel arrangements must be made through a travel agent selected by Sponsor.  If a winner lives within a 200-mile radius of the hotel designated by Sponsor, prize will not include the air-transportation portion of the prize. Winner will be responsible for all gratuities, meals, beverages, ground transportation, taxes, and any other incidental costs or expenses not identified in these Official Rules.  
        Total ARV of all prizes: $95,000.  No financial or other compensation will be made for any other use of the Entry.  Winner will be attempted to be notified through the Musical.ly app or by other means.  Prizes are not transferable; no substitutions or cash equivalents are allowed except by the Sponsor who reserves the right to award a prize of equal or greater value if advertised prize is unavailable. Each Winner may be required to execute and return an Affidavit of Eligibility/Release of Liability/Assignment of Rights/Publicity Releases (where legal) within 2 days of notification attempt.  If a winner fails to return by the deadline, prize may be forfeited and an alternate winner may be determined, based on the criteria set forth above. No responsibility or liability is assumed for damages, losses or injury resulting from acceptance or use of any prize. 
    </p>
  </li>
</ol>
<ol start="6">
  <li>
    <strong> <u>INTELLECTUAL PROPERTY</u></strong>:
    Ownership of the pre-existing underlying intellectual property of the entrant remains the property of the entrant subject to Sponsor’s rights to reprint, display, reproduce, perform, use, and exhibit the Entry for the purpose of administering and promoting the Contest and for Sponsor’s marketing and advertising purposes.  By participating in the Contest, each entrant grants to Sponsor a non-exclusive, worldwide, fully paid, royalty-free, perpetual, transferable license to reprint, display, reproduce, perform, use, and exhibit (including the right to make derivative works of) the Entry and materials and information submitted on and in connection with the Contest or use or receipt of the prize for any and all purposes in any medium.  Each participating entrant hereby warrants that any Entry and other materials and information provided by entrant are original with entrant and do not violate or infringe upon the copyrights, trademarks, rights of privacy, publicity, moral rights or other intellectual property or other rights of any person or entity, and do not violate any rules or regulations.  If the Entry or information or materials provided by entrant contain any material or elements that are not owned by entrant and/or which are subject to the rights of third parties, entrant represents he or she has obtained, prior to submission of the Entry and information or materials, any and all releases and consents necessary to permit use and exploitation of the Entry and information and materials by Sponsor in the manner set forth in the Official Rules without additional compensation.  
    Each entrant warrants that the Entry and materials and information provided do not contain information considered by entrant, its employees or personnel, or any other third party to be confidential, and that the Entry, materials and information provided do not violate any laws or regulations.  Entrant agrees that Sponsor has the right to verify the ownership and originality of all Entries and that, upon Sponsor’s request, entrant must submit a written copy of any release or permission entrant has received from a third party granting entrant the right to use such property.  Entrant understands and acknowledges that in the event a submission is selected as a winning Entry, and entrant’s ownership, rights and the originality of the Entry cannot be verified to the satisfaction of Sponsor or is in any other way ineligible, Sponsor may select an alternate winner based on the same judging criteria.
 </li>
</ol>

<ol start="7">
  <li>
    <strong>
      <u>GENERAL RULES:</u>
    </strong> 
     In the event of a dispute regarding any Entry, that Entry will be deemed made by the authorized holder of the Musical.ly account associated with the Entry at the time of the Entry submission.  By participating in this Contest, entrants agree to be bound by these Official Rules and the decisions of the Sponsor. The Sponsor is not responsible for technical, hardware, software or telephone malfunctions of any kind, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled or delayed electronic communications caused by the user or by any of the equipment or programming associated with or utilized in this Contest or by any human error which may occur in the processing of the online entries in this Contest. The Sponsor reserves the right at its sole discretion to disqualify any entrant that tampers or attempts to tamper with the Entry process or the operation of the Contest or website; violates the Official Rules; or acts in an unsportsmanlike or disruptive manner, or with intent to annoy, abuse, threaten or harass any other person. Any attempt by any person to deliberately undermine the legitimate operation of the Contest may be a violation of criminal and civil law, and, should such an attempt be made, Sponsor reserves the right to seek damages from any such person and entrant to the fullest extent permitted by law. Sponsor's failure to enforce any term of these Official Rules shall not constitute a waiver of that provision.  Sponsor reserves the right, at its sole discretion, to cancel, terminate, modify or suspend the Contest if it is not capable of running as planned, including, but not limited to, infection by computer virus, tampering, unauthorized intervention, fraud, technical failures or any other problems beyond the control of the Sponsor and award the prize from among all eligible online Entries received prior to cancellation. Sponsor and its affiliates, officers, directors, agents, and employees will have no liability or responsibility for any claim arising in connection with participation in this Contest or the prize awarded. Winner assumes all liability for any injury or damage caused, or claimed to be caused, by participation in this Contest or use or redemption of any prize.  
  </li>
</ol>

<ol start="8">
  <li>
    <strong> <u>RELEASE/LIMITATIONS OF LIABILITY</u>:</strong> 
    YOU HEREBY HOLD THE SPONSOR HARMLESS FROM AND AGAINST ANY THIRD PARTY CLAIM ARISING FROM USE OF THE ENTRY. SPONSOR AND ITS AGENTS ARE NOT RESPONSIBLE FOR LOST, LATE, DAMAGED, MISDIRECTED, ILLEGIBLE, INCOMPLETE, OR MUTILATED ENTRIES, OR FOR ANY COMPUTER, ONLINE, TELEPHONE OR TECHNICAL MALFUNCTIONS, DELAYS OR HUMAN ERRORS THAT OCCUR IN THE PROCESSING, TRANSMISSION OR RECEIPT OF ENTRIES, OR FOR INACCURATE TRANSCRIPTION OF ENTRY INFORMATION, OR FOR ENTRIES THAT ARE STOLEN, MISDIRECTED, GARBLED, LOST OR DELAYED BY COMPUTER TRANSMISSIONS, OR IF FOR ANY REASON, THE CONTEST IS NOT CAPABLE OF BEING CONDUCTED AS PLANNED, INCLUDING BUT NOT LIMITED TO INFECTION BY COMPUTER VIRUSES, BUGS, TAMPERING, UNAUTHORIZED INTERVENTION, FRAUD, TECHNICAL FAILURES, OR OTHER CAUSES BEYOND THE CONTROL OF SPONSOR. SPONSOR IS NOT RESPONSIBLE FOR INCORRECT OR INACCURATE ENTRY INFORMATION WHETHER CAUSED BY INTERNET USERS OR BY ANY OF THE EQUIPMENT OR PROGRAMMING ASSOCIATED WITH OR UTILIZED IN THE CONTEST OR BY ANY TECHNICAL OR HUMAN ERROR THAT MAY OCCUR IN THE PROCESSING OF THE ENTRIES IN THE CONTEST.
  </li>

</ol>

<ol start="9">
  <li>
    <strong>
      <u>Disputes</u>
    </strong>
    <strong>:</strong> 
    Except where prohibited by law, as a condition of participating in this Contest, each entrant agrees that (i) any and all disputes and causes of action arising out of or connected with the Contest, or any prize awarded, shall be resolved exclusively by final and binding arbitration under the rules of the American Arbitration Association, and held at the AAA regional office nearest Los Angeles, CA; (ii) the Federal Arbitration Act will govern the interpretation, enforcement, and all proceedings at such arbitration; and (iii) judgment upon such arbitration award may be entered in any court having jurisdiction. Each entrant waives all rights to claim punitive, incidental, or consequential damages, or any other damages, including attorneys' fees, other than his or her actual out-of-pocket expenses (i.e., costs associated with entering the Contest), and each entrant further waives all rights to have damages multiplied or increased.  All issues and questions concerning the construction, validity, interpretation, and enforceability of these Official Rules, or the rights and obligations of entrants and Sponsor in connection with the Contest, will be governed by, and construed in accordance with, the substantive laws of the State of California without regard to California choice of law rules.
  </li>
</ol>

<ol start="10">
  <li>
    <strong>
      <u>WINNER&rsquo;S LIST</u>
    </strong>
    <strong>:</strong>
    The names of the winners will be posted via www.Musical.ly https://www.musical.ly/act/us for a period of time beginning on or about April 17, 2018.  Requests for the name of the winner may also send a self-addressed, stamped envelope making such request to musical.ly, Inc., Musical.ly 1 Million Audition Contest, 2461 Santa Monica Blvd, P.O. Box # 344, Santa Monica, CA 90404.  Vermont residents may omit return postage.
  </li>
</ol>

<ol start="11">
  <li>
    <strong>
      <u>SPONSOR</u>
    </strong>
    <strong>:</strong> The Sponsor of the Contest is musical.ly, Inc., 2461 Santa Monica Blvd, P.O. Box # 344, Santa Monica, CA 90404.</li>
</ol>

<div class="close-area">
  <button class='close'>close</button>
</div>