#termofuse{
  width: 100%;
  background: #000;
}
.termofuse-container {
  color: #fff;
  padding: 3rem;
  a{
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    display: block;
    color: #fff;
  }
  p{
    font-size: 1.2rem;
    text-align: center;
  }
}
#section-container{
  height: 0;
  position: fixed;
  z-index: 1000;
  background: #fbf8f8;
  transition: all .3s;
  transform: translateY(100vh);
  &.section-container-show{
    height: 100vh;
    overflow-y: scroll;
    top: 0px;
    transform: translateY(0vh);
  }
  h2{
    text-align: center;
    font-size: 2rem;
  }
  h4{
    font-weight: 500;
    font-size: 1.4rem;
  }
  article {
    margin-bottom: 1vh;
    margin-left: 1vw;
    padding-right: 1vw;
  }

  p{
    font-size: 1.2rem;
    line-height: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
  }
  ol{
    margin: initial;
    padding: initial;
    padding-left: 2rem; 
    li{
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 2.2rem;
    }

    ul{
      padding-left: 2vw; 
      li{
        padding-left: 1rem;
      }
    }
  }
}
.close-area{
  text-align: center;
  width: 97vw;
  margin: 10px auto;
  text-align: center;
  height: 60px auto;
  padding: 5px;
  .close{
    max-width: 350px;
    min-width: 150px;
    margin-bottom: 15px;
    width: 30%;
    height: 40px;
    cursor: pointer;
    background-color: #35e774;
    font-size: 16px;
    outline: none;
    text-align: center;
    border-radius: 5px;
    color: #fff;
  }
  .close:hover{
    opacity: 1;
  }

}