<section id='termofuse' class='top-margin-move'>
  <div class='termofuse-container'>
    <a id='getTermOfUse' href='javascript:void(0)'> <%=officalRules%> </a>
    <p>Copyright © musical.ly. All rights reserved.</p>
  </div>
</section>
<section id='section-container'>
  loading...
</section>