#termofuse{
  width: 100%;
  background: #000;
}
.termofuse-container {
  color: #fff;
  padding: 3rem;
}
.termofuse-container  a{
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  display: block;
  color: #fff;
}
.termofuse-container  p{
  font-size: 1.4rem;
  text-align: center;
}
#section-container.section-container-show{
  height: 92vh;
  overflow-y: scroll;
  top: 4vh;
  transform: translateY(0vh);
}
#section-container{
  height: 0;
  position: fixed;
  width: 100vw;
  min-width: 100%;
  z-index: 100;
  background: #fff;
  transition: all .3s;
  transform: translateY(95vh);
  padding: 2vh 2vw 2vh 2vw;
}
#section-container h2{
  text-align: center;
  font-size: 2rem;
}
#section-container h4{
  font-weight: 500;
  font-size: 1.4rem;
}
#section-container article {
  margin-bottom: 1vh;
  margin-left: 1vw;
  padding-right: 1vw;
}
#section-container p{
  display: block;
  padding: .2vw .5vw;
  line-height: 2.5;
  white-space: pre-wrap;
}
.close{
  position: fixed;
  top: 3vh;
  right: 8vw;
  font-size: 2rem;
  background-color: #ff0f50;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  opacity: .5;
  height: 30px;
  color: #fff;
  line-height: 33px;
  box-shadow: 0px 1px 4px 5px rgba(0,0,0,.15);
  cursor: pointer;
  text-align: center;
}
.close:hover{
  opacity: 1;
}