.ampstart-headerbar{
  position: fixed;
  display: flex;
  width: 100vw;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  z-index: 999;
  background: transparent;
  padding: 0rem 2.5rem 0;
}
.header-title{
  float: left;
  display: flex;
}
.ampstart-headerbar-nav{
  font-size: 1.4rem;
  margin: .5rem auto;
  display: block;
  float: right;
}
.list-reset{
  margin: 0px auto;
  display: block;
  max-width: 960px;
}
.ampstart-nav-item a{
  color: #fff;
}
.ampstart-nav-item:active,
.ampstart-nav-item:focus,
.ampstart-nav-item:hover{
  opacity:1
}
.ampstart-nav a,
.ampstart-navbar-trigger
{
  cursor:pointer;
  text-decoration:none
}
.ampstart-nav .ampstart-label{
  color:inherit
}
.ampstart-nav-search>input{
  border:none;
  border-radius:3px;
  line-height:normal
}
.ampstart-sidebar{
  background: transparent;
  color:#000;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  left: -60vw;
  display: none;
  width: 50vw;
}
.relative{
  position: relative;
}
.icon{
  display: inline-block;
  margin: 1.5rem 1rem 0rem;
  vertical-align: middle;
}
.icon img{
  max-width: 165px;
}
.ampstart-sidebar::before{
  position: absolute;
  top: 0px;
  width: 110%;
  background: #fff;
  opacity: .85;
  height: 100%;
  filter: blur(2px);
  content: '';
}
.ampstart-sidebar-header{
  line-height:3.5rem;
  min-height:3.5rem
}
.ampstart-sidebar .ampstart-nav-item,
.ampstart-sidebar .ampstart-social-follow{
  margin:0 0 1rem
}
.ampstart-byline,.ampstart-caption,
.ampstart-hint,.ampstart-label {
  font-size: 1.125rem;
  color: #4f4f4f;
  line-height: 1.5;
  letter-spacing: .06rem
}

.ampstart-label {
  text-transform: uppercase
}


.lune-underline-strike:before {
  position: absolute;
  bottom: calc(.5em - 4px);
  left: 0;
  right: 0;
  height: .1em;
  min-height: 2px;
  content: "";
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  color: #fff;
}

.lune-underline-strike:focus:before,
.lune-underline-strike:hover:before {
  -webkit-transform: none;
  transform: none
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em
}

.ampstart-sidebar-header {
  position: absolute;
  top: 0;
  left: 1.5rem;
  height: 4.375rem
}

.ampstart-sidebar-nav {
  width: 100%;
  margin: 10rem auto;
}
.ampstart-nav .ampstart-label {
  color: inherit
}

.ampstart-navbar-trigger:focus {
  outline: none
}

.ampstart-nav .ampstart-label {
  color: inherit
}

.ampstart-nav-item:active,
.ampstart-nav-item:focus,
.ampstart-nav-item:hover {
  opacity: 1
}
.ampstart-nav-item {
  max-width: 7.5em;
  margin: auto 1.5rem;
  font-weight: 900;
  line-height: 3;
  display: inline-block;
}

.ampstart-sidebar-nav li.ampstart-nav-item {
  background: transparent;
  opacity: .8;
  display: block;
}

.ampstart-headerbar .ampstart-navbar-trigger:focus path:first-of-type,
.ampstart-headerbar .ampstart-navbar-trigger:hover path:first-of-type {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px)
}

.ampstart-headerbar .ampstart-navbar-trigger:focus path:last-of-type,
.ampstart-headerbar .ampstart-navbar-trigger:hover path:last-of-type {
  -webkit-transform: translateY(1px);
  transform: translateY(1px)
}

.ampstart-navbar-trigger {
  display: none;
  line-height: 3.375rem;
  font-size: 2.125rem;
  color: #fff;
  padding: 1rem .5rem 0 .5rem;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.ampstart-sidebar .ampstart-navbar-trigger {
  line-height: 1;
  color: #ff0f50;
}

.ampstart-sidebar .ampstart-navbar-trigger:focus,
.ampstart-sidebar .ampstart-navbar-trigger:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in
}

.ampstart-navbar-trigger:focus svg,
.ampstart-sidebar .ampstart-navbar-trigger:focus {
  background-color: #f9f9f9
}

@media (min-width: 1024px) {
  .ampstart-sidebar-header {
    line-height: 5.75rem;
    min-height: 5.75rem
  }
}

@media (max-width:1023px) {
  .ampstart-headerbar{
    display: none;
  }
  .ampstart-navbar-trigger {
    position: fixed;
    top: 2rem;
    left: 1rem;
    padding: .0rem;
    margin-right: 1rem;
    font-size: 2.125rem;
  }

  .ampstart-sidebar a{
    color: #ff0f50;
  }

  .ampstart-sidebar{
    display: block;
  }
}

