
<div role="button" tabindex="0" class="ampstart-navbar-trigger ">
  ☰
</div>
<header class="ampstart-headerbar">
  <div class='header-title'>
    <div class='icon'>
      <img src="../../../assets/musically logo@2x.png" />
    </div>
  </div>
  <nav class="ampstart-headerbar-nav ampstart-nav">
    <ul class="list-reset">
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#home" class="text-decoration-none block">Home</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#about" class="text-decoration-none block">About</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#winner" class="text-decoration-none block">Winner</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#media" class="text-decoration-none block">Media</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#youcanmeet" class="text-decoration-none block">You Can meet</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#Partners" class="text-decoration-none block">Partners</a>
      </li>
    </ul>
  </nav>
</header>
<header id="header-sidebar" class="ampstart-sidebar px3" layout="nodisplay">
  <div class="items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="list-reset m0 p0 nowrap">
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#home" class="text-decoration-none block">Home</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#about" class="text-decoration-none block">About</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#winner" class="text-decoration-none block">Winner</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#media" class="text-decoration-none block">Media</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#youcanmeet" class="text-decoration-none block">You Can meet</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#parter" class="text-decoration-none block">Parters</a>
      </li>
    </ul>
  </nav>
</header>