
  <body>
    <%- include('./component/nav/nav' , { langTransfor, langText }) %>
    <section class='main'>
      <div class='main-container'>
        <%- include('./component/banner/banner', { setIntervalTimeNode, bannerImgPC, bannerImgMobile }) %>
        <%- include('./component/about/about', { aboutTagList, setIntervalTimeNode }) %>
      </div>
    </section>
  </body>