<head>
  <meta charset='utf-8'>
  <title>Musical.ly - India</title>
  <meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1'>
  <meta name='description' content='musical.ly one million'>
  <% include ./css %>
</head>