<head>
  <meta charset='utf-8'>
  <title>Musical.ly - India</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
  <meta name='description' content='musical.ly one million'>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag(){
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', 'UA-91635834-2')
  </script>
  <% include ./css %>
</head>