<h2>Musical.ly 1million Audition Contest Rules</h2>

<ol start="1">
  <li>
    <u>HOW TO ENTER</u>: NO PURCHASE OF ANY KIND IS NECESSARTY TO ENTER OR WIN.
  </li>
  <p>Void wherev</p>
  <p>To participate in the Musical.ly 1M Audition Contest (the &ldquo;Contest&rdquo;) beginning at 12:01 a.m. Pacific Time (&ldquo;PT&rdquo;) on March 30, 2018 through 11:59 p.m. PT on April 16, 2018 (&ldquo;Contest Period&rdquo;), you must submit your Contest entry through the Musical.ly application (collectively, the &ldquo;Entry&rdquo;).&nbsp; Visit [https://www.musical.ly/act/us] and follow the instructions described on the Contest webpage (the &ldquo;Instructions&rdquo;) on how to submit your Entry.&nbsp;
    Among other things, all Entries must be submitted via Musical.ly and tagged #1MAduitionUS or with one or more of the specific category #1M Audition hashtags.&nbsp; Entries should also be tagged with the hashtag #1MAduitionUS.&nbsp; All requested Entry information must be completed.&nbsp; Time of entry will be determined by Sponsor in its sole discretion.</p>
  <p>All Entries must meet the following criteria:</p>
  Entrants must submit a short video that demonstrates their talents in one of the following categories (each, a &ldquo;1Million
  Category:
  <ul>
    <li>&nbsp;#1MComedyAudition</li>
    <li>#1MPrankAudition</li>
    <li>#1MDanceAudition</li>
    <li>#1MMusicAudition</li>
    <li>#1MSkillAudition</li>
  </ul>
  <p>[Entries must be no longer than 5 minutes in length.]</p>
  <p>Entries must be original, exclusively created and owned by entrant, and the entrant must have all rights necessary to post
    the video and submit the Entry.</p>
  <p>Entries may be submitted by uploading through the Musical.ly app.</p>
  <p>Entries must not previously have been publicly available.</p>
  <p>Entries may not contain images of any individuals who are under 18 years of age or who have not provided their authorization.&nbsp;
    By submitting an image of any individual under the age of majority in their jurisdiction of residence, you represent
    that you have received permission from such minor&rsquo;s parent or legal guardian to include such minor&rsquo;s image.</p>
  <p>Entries may not contain material that is obscene, defamatory, libelous, threatening, pornographic, racially or ethnically
    offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, or violate
    any law. Entries must be appropriate for viewing by the general public; appropriateness will be determined by Sponsor.er prohibited or where registration or bonding required, and subject to all federal, state and local laws
    Sponsor reserves the right to reject any entry for any reason.
  </p>
</ol>
<ol start="2">
  <li>
    <strong>
      <u>ELIGIBILITY</u>
    </strong>
    <strong>:</strong> Each entrant must be current U.S. legal residents who are at least 18 years of age for the duration of the
    Contest Period. If entrant is under the age of majority in his or her jurisdiction of residence, entrant represents that
    he or she has the permission from his or her parent or legal guardian, who has read and agreed to these Official Rules.&nbsp;
    Entrants must agree to the terms and conditions of Sponsor&rsquo;s General Terms and Conditions, a copy of which can
    be found at http://www.musical.ly/en-US/term.&nbsp; Affiliates, subsidiaries, advertising, promotion, and fulfillment
    agencies or Sponsor, and immediate family members and persons of employees, officers and directors of Sponsor living
    in their same household, are not eligible to participate in the Contest.&nbsp;
  </li>
</ol>

<ol start="3">
  <li>
    <u>WINNERS</u>Winner of the Contest will be determined based on the following:&nbsp;
  </li>
  <p>There will be two rounds:</p>
  <p>
    <u>Round 1 &ldquo;Auditions&rdquo;</u>
    Round 1 will last from the beginning of the Contest Period until 11:59 p.m. PT on April 7, 2018 (the &ldquo;Round 1 Period&rdquo;).&nbs; During the Round 1, Period Sponsor or its designees will select the best 1000 Entries across 1Million Categories, Sponsor reserves the right to select fewer than 1000 winners if, in its sole discretion, the number or quality of Entries does not meet a minimum standard, to be determined by Sponsor.&nbsp; Round 1 Auditions will be scored by Sponsor or its designees.&nbsp; Each Entry selected by Sponsor or its designees as part of Round 1 to move on in the Contest is a &ldquo;Round 1 Selection.&rdquo;</p>
  <p>
    <u>Round 2 &ldquo;Auditions&rdquo;</u>
  </p>
  <p>At the end of the Round 1 Period, each Entrant that is a Round 1 Selection will have the opportunity to post at least one video in one of the five 1Million Categories.&nbsp; (Sponsor has the right to indicate that an Entrant may post one or more videos in more than one of the five 1Million Categories, as indicated by Sponsor to Entrant.)&nbsp; The Round 2 Audition will end at 11:59 p.m. PT on April 13, 2018.&nbsp; Sponsor or its designees will select its 200 winners based on a combination of Round 1 scoring and Round 2 Audition judging. The 200 Round 2 Audition winners will each be a &ldquo;Round 2 Winner.&rdquo;&nbsp; Each 1Million Category winner from Round 2 will be a &ldquo;Grand Prize Winner.&rdquo;</p>

  <p>Because this is a contest of skill, winning the Contest is dependent on the quality and number of submissions received.&nbsp; Sponsor or its designees will judge the quality and creativeness of Entries using algorithmic scoring to calculate the quality of Entrant&rsquo;s performance during #1Million based on Entrants&rsquo; videos view number, engagements and other user interactive data.</p>
</ol>
<ol start="4">
  <li>
    <strong>
      <u>NOTIFICATION</u>
    </strong>
    <strong>:</strong> Round 1 Selections will be announced on or about April 7, 2018. Round 2 Winners and Grand Prize Winners will be announced on or about April 15, 2018. Sponsor may also attempt to notify individuals via other contact methods.&nbsp; By participating, entrants agree to the Official Rules and the determination of winners by Sponsor, which shall be final and binding in all respects (including as to the application and interpretation of the judging algorithm).&nbsp; Entry in the Contest and acceptance of any prize constitutes permission to use entrant&rsquo;s name, biographical information, likeness and company information without further compensation, except where prohibited by law and as otherwise provided herein.&nbsp; No information regarding judging will necessarily be disclosed.</li>
</ol>

<ol start="5">
  <li>
    <u>PRIZE</u>
    <p>
      <u>Round 2 Winners</u>
      There will be 200 Round 2 Winners.&nbsp; Round 2 Winners will receive anywhere from $200 - $2500 depending on their ranking in the competition, payable in a form to be determined by Sponsor and subject to such Round 2 Winner providing all necessary information to collect his or her prize.
      <u>Grand Prize Winners</u>
      There will be five Grand Prize Winners. Each Grand Prize Winner will be awarded a trip to Los Angeles, CA to participate in a photoshoot that will be used for a billboard in Los Angeles announcing the new faces of<a href="http://musical.ly">musical.ly</a>
      <u>Each Grand Prize winner will receive:</u>
      <ul>
        <li>(i)&nbsp; return/economy air transportation for winner (not to exceed US$1,000) from the major commercial airport closest
        to winner&rsquo;s residence to the Los Angeles, CA area;</li>  
        <li>
          (ii) hotel accommodations for winner for two nights, standard accommodation at a hotel selected by Sponsor (total approximate
        retail value: US$500).
        </li>
      </ul>
        ARV of each Grand Prize Winner&rsquo;s prize package is approximately $1000, although it may vary depending on the point
        of departure.
        Trip must be taken on dates specified by Sponsor. If winner cannot travel on the dates specified, the prize may be forfeited.&nbsp;All travel arrangements must be made through a travel agent selected by Sponsor.&nbsp; If a winner lives within a 200-mile radius of the hotel designated by Sponsor, prize will not include the air-transportation portion of the prize. Winner will be responsible for all gratuities, meals, beverages, ground transportation, taxes, and any other incidental costs or expenses not identified in these rules.&nbsp;
      Total ARV of all prizes: $95,000.&nbsp; No financial or other compensation will be made for any other use of the Entry.&nbsp; Winner will be attempted to be notified through the Musical.ly app or by other means. &nbsp;Prizes are not transferable; no substitutions or cash equivalents are allowed except by the Sponsor who reserves the right to award a prize of equal or greater value if advertised prize is unavailable. Each Winner may be required to execute and return an Affidavit of Eligibility/Release of Liability/Assignment of Rights/Publicity Releases (where legal) within 2 days of notification attempt.&nbsp;
      If a winner fails to return by the deadline, prize may be forfeited and an alternate winner may be determined, based on
      the criteria set forth above. No responsibility or liability is assumed for damages, losses or injury resulting from acceptance
      or use of any prize.
    </p>
  </li>
</ol>
<ol start="6">
  <li>
    <strong> <u>INTELLECTUAL PROPERTY</u></strong>:
    Ownership of the pre-existing underlying intellectual property of the entrant remains the property of the entrant subject
    to Sponsor&rsquo;s rights to reprint, display, reproduce, perform, use, and exhibit the Entry for the purpose of administering
    and promoting the Contest and for Sponsor&rsquo;s marketing and advertising purposes. By participating in the Contest,
    each entrant grants to Sponsor a non-exclusive, worldwide, fully paid, royalty-free, perpetual, transferable license
    to reprint, display, reproduce, perform, use, and exhibit (including the right to make derivative works of) the Entry
    and materials and information submitted on and in connection with the Contest or use or receipt of the prize for any
    and all purposes in any medium.&nbsp; Each participating entrant hereby warrants that any Entry and other materials and
    information provided by entrant are original with entrant and do not violate or infringe upon the copyrights, trademarks,
    rights of privacy, publicity, moral rights or other intellectual property or other rights of any person or entity, and
    do not violate any rules or regulations.&nbsp; If the Entry or information or materials provided by entrant contain any
    material or elements that are not owned by entrant and/or which are subject to the rights of third parties, entrant represents
    he or she has obtained, prior to submission of the Entry and information or materials, any and all releases and consents
    necessary to permit use and exploitation of the Entry and information and materials by Sponsor in the manner set forth
    in the Official Rules without additional compensation.&nbsp;Each entrant warrants that the Entry and materials and information provided do not contain information considered by entrant,
    its employees or personnel, or any other third party to be confidential, and that the Entry, materials and information
    provided do not violate any laws or regulations.&nbsp; Entrant agrees that Sponsor has the right to verify the ownership
    and originality of all Entries and that, upon Sponsor&rsquo;s request, entrant must submit a written copy of any release
    or permission entrant has received from a third party granting entrant the right to use such property.&nbsp; Entrant understands
    and acknowledges that in the event a submission is selected as a winning Entry, and entrant&rsquo;s ownership, rights and
    the originality of the Entry cannot be verified to the satisfaction of Sponsor or is in any other way ineligible, Sponsor
    may select an alternate winner based on the same judging criteria.
  </li>

</ol>

<ol start="7">
  <li>
    <strong>
      <u>GENERAL RULES:</u>
    </strong> In the event of a dispute regarding any Entry, that Entry will be deemed made by the authorized holder of
    the Musical.ly account associated with the Entry at the time of the Entry submission. By participating in this Contest,
    entrants agree to be bound by these Official Rules and the decisions of the Sponsor. The Sponsor is not responsible for
    technical, hardware, software or telephone malfunctions of any kind, lost or unavailable network connections, or failed,
    incorrect, incomplete, inaccurate, garbled or delayed electronic communications caused by the user or by any of the equipment
    or programming associated with or utilized in this Contest or by any human error which may occur in the processing of
    the online entries in this Contest. The Sponsor reserves the right at its sole discretion to disqualify any entrant that
    tampers or attempts to tamper with the Entry process or the operation of the Contest or website; violates the Official
    Rules; or acts in an unsportsmanlike or disruptive manner, or with intent to annoy, abuse, threaten or harass any other
    person. Any attempt by any person to deliberately undermine the legitimate operation of the Contest may be a violation
    of criminal and civil law, and, should such an attempt be made, Sponsor reserves the right to seek damages from any such
    person and entrant to the fullest extent permitted by law. Sponsor's failure to enforce any term of these Official Rules
    shall not constitute a waiver of that provision. &nbsp;Sponsor reserves the right, at its sole discretion, to cancel,
    terminate, modify or suspend the Contest if it is not capable of running as planned, including, but not limited to, infection
    by computer virus, tampering, unauthorized intervention, fraud, technical failures or any other problems beyond the control
    of the Sponsor and award the prize from among all eligible online Entries received prior to cancellation. Sponsor and
    its affiliates, officers, directors, agents, and employees will have no liability or responsibility for any claim arising
    in connection with participation in this Contest or the prize awarded. Winner assumes all liability for any injury or
    damage caused, or claimed to be caused, by participation in this Contest or use or redemption of any prize.</li>
</ol>

<ol start="8">
  <li>
    <strong> <u>RELEASE/LIMITATIONS OF LIABILITY</u>:</strong> YOU HEREBY HOLD THE SPONSOR HARMLESS FROM AND AGAINST ANY THIRD PARTY
    CLAIM ARISING FROM USE OF THE ENTRY. SPONSOR AND ITS AGENTS ARE NOT RESPONSIBLE FOR LOST, LATE, DAMAGED, MISDIRECTED, ILLEGIBLE,
    INCOMPLETE, OR MUTILATED ENTRIES, OR FOR ANY COMPUTER, ONLINE, TELEPHONE OR TECHNICAL MALFUNCTIONS, DELAYS OR HUMAN ERRORS
    THAT OCCUR IN THE PROCESSING, TRANSMISSION OR RECEIPT OF ENTRIES, OR FOR INACCURATE TRANSCRIPTION OF ENTRY INFORMATION,
    OR FOR ENTRIES THAT ARE STOLEN, MISDIRECTED, GARBLED, LOST OR DELAYED BY COMPUTER TRANSMISSIONS, OR IF FOR ANY REASON,
    THE CONTEST IS NOT CAPABLE OF BEING CONDUCTED AS PLANNED, INCLUDING BUT NOT LIMITED TO INFECTION BY COMPUTER VIRUSES, BUGS,
    TAMPERING, UNAUTHORIZED INTERVENTION, FRAUD, TECHNICAL FAILURES, OR OTHER CAUSES BEYOND THE CONTROL OF SPONSOR. SPONSOR
    IS NOT RESPONSIBLE FOR INCORRECT OR INACCURATE ENTRY INFORMATION WHETHER CAUSED BY INTERNET USERS OR BY ANY OF THE EQUIPMENT
    OR PROGRAMMING ASSOCIATED WITH OR UTILIZED IN THE CONTEST OR BY ANY TECHNICAL OR HUMAN ERROR THAT MAY OCCUR IN THE PROCESSING
    OF THE ENTRIES IN THE CONTEST.
  </li>

</ol>

<ol start="9">
  <li>
    <strong>
      <u>Disputes</u>
    </strong>
    <strong>:</strong> Except where prohibited by law, as a condition of participating in this Contest, each entrant agrees that
    (i) any and all disputes and causes of action arising out of or connected with the Contest, or any prize awarded, shall
    be resolved exclusively by final and binding arbitration under the rules of the American Arbitration Association, and
    held at the AAA regional office nearest Los Angeles, CA; (ii) the Federal Arbitration Act will govern the interpretation,
    enforcement, and all proceedings at such arbitration; and (iii) judgment upon such arbitration award may be entered in
    any court having jurisdiction. Each entrant waives all rights to claim punitive, incidental, or consequential damages,
    or any other damages, including attorneys' fees, other than his or her actual out-of-pocket expenses (i.e., costs associated
    with entering the Contest), and each entrant further waives all rights to have damages multiplied or increased.&nbsp;
    All issues and questions concerning the construction, validity, interpretation, and enforceability of these Official
    Rules, or the rights and obligations of entrants and Sponsor in connection with the Contest, will be governed by, and
    construed in accordance with, the substantive laws of the State of California without regard to California choice of
    law rules.</li>
</ol>

<ol start="10">
  <li>
    <strong>
      <u>WINNER&rsquo;S LIST</u>
    </strong>
    <strong>:</strong> The names of the winners will be posted via [INSERT website] for a period of time beginning on or about April
    13, 2018. Requests for the name of the winner may also send a self-addressed, stamped envelope making such request to
    ly, Inc., Musical.ly 1M Audition Audition Contest, 2461 Santa Monica Blvd, P.O. Box # 344, Santa Monica, CA 90404.&nbsp;
    Vermont residents may omit return postage.</li>
</ol>

<ol start="11">
  <li>
    <strong>
      <u>SPONSOR</u>
    </strong>
    <strong>:</strong> The Sponsor of the Contest is ly, Inc., 2461 Santa Monica Blvd, P.O. Box # 344, Santa Monica, CA 90404.</li>
</ol>

<div class="close-area">
  <button class='close'>close</button>
</div>