
<span class='close'>X</span>
<h2> TERMS OF USE OF &quot;ONE MILLION AUDITION INDIA&quot; CULTURAL CONTEST </h2>
  <article>
    <h4>1. GENERAL PROVISIONS. </h4>

    <article>

      <p>1.1. This Cultural Contest is promoted by MUSICAL.LY (&quot;musical.ly&quot;) and designated to its Indian users pursuing to reveal new content creators, discover and enhance Indian talents and help increase the influence of these talents so that they can share their creativity with a growing number of people. </p>

      <p>1.2. To participate, Participants will be able to choose 5 different categories between 15sVinesAudition, DanceIndiaAudition, SpecialSkillsAudition, DuetAudition, SexyMovesAudition (&quot;Category(ies)&quot;) and must upload videos through musical.ly&acute;s mobile application, according to this Terms of Use, using the hashtag of the chosen category (together &quot;Hashtags&quot;), in the period beginning on January 19, 2018, at midnight and ending on January 27 , 2018, at 23:59, for the first phase (the dates of the following phases will be settled down below or at musical.ly&acute;s discretion). </p>

      <p>1.2.1. Specific dates for each of the phases will be informed in the General Rules of this Cultural Contest. </p>

      <p>1.3. Participation in this Cultural Contest is voluntary and free of charge, and it is not necessary to purchase any product by Participants. </p>

      <p>1.4. By posting the Material with the Hashtags or in the act of joining this Cultural Contest, upon completion of registration, Participants are automatically accepting expressly that musical.ly uses their personal data in accordance with its privacy policy and general terms of use, which can be found at the following link https://musical.ly/en-US/privacy, and they will agree to accept all the terms and conditions of these Terms of Use which terms follows below, as well as other instruments which may be necessary for participation in this Cultural Contest. </p>

    </article>

  </article>

  <article>

    <h4>2. TO PARTICIPATE: </h4>

    <article>

      <p>2.1. To participate, you must necessarily meet the following criteria: </p>

      <article>

        <p>&bull; Be 15 years old or older; </p>

        <p>&bull; Have your own account in musical.ly; </p>
      
      </article>

      <p>2.2. Participants must have prior authorization of all possible recognizable individuals who may also participate in their Video. Authorizations must cover use of image, personality, likeness and voice. If requested, Participant must submit legible authorizations to musical.ly. </p>

      <p>2.3. The videos should not include any private information of third parties, such as name, address, telephone number, email or other personally identifiable information. </p>

      <p>2.4. Musical.ly reserves the right to reject any Video that is contrary to the above mentioned rules or for any reason contrary to the company's general rules, or also: </p>

      <article>

        <p>(i) disrespecting to legislation in general and, in particular, copyright and/or intellectual property laws; </p>

        <p>(ii) containing images, messages or any pornographic, pedophile, racist, violent, or otherwise offensive content to honor, privacy, image, personal and family intimacy, or in any way offensive to laws, order, morality and good manners; </p>

        <p>(iii) produced for the purpose of committing fraud or encouraging the practice of unlawful or non-moral conduct; </p>

        <p>(iv) produced without the prior and express written obtaining of all authorizations and consents of third parties that may appear on the Video and/or have rights over it; and </p>

        <p>(v) that violate or infringe the rights of others, including, but not limited to, privacy rights, publicity or intellectual property rights or copyright infringement. </p>

      </article>

      <p>2.5. The Videos may or may not be selected under the absolute discretion of musical.ly, which will choose the Videos that present originality, creativity, and that best suit the proposed themes. No information about the selection process will necessarily be disclosed. </p>
    
    </article>

  </article>


  <article>
    <h4>3. MECHANICS AND THE WINNERS: </h4>

    <article>

      <p>3.1. Decisions based on &ldquo;Creator Score&rdquo; will be sovereign and unappealable. </p>

      <p>3.2 Phase 1: A commission formed by musical.ly will select 1000 musers Participants, based on the quality score of the posted videos, to proceed to the next phase; </p>

      <p>3.3 Phase 2: From winners of phase 1,200 will be evaluated and chosen to win, based on the &quot;creator score&quot; which will be calculated through a score based on video quality, creativity, originality and which more fits the proposed themes; </p>

    </article>

  </article>

  <article>

    <h4>4. LIST OF WINNERS </h4>

    <article>

      <p>4.1. The names of the winners, by phase, will be posted on musical.ly&acute;s website and/or social networks in within a week after the end of each phase or may be disclosed after this mentioned period at musical.ly&acute;s discretion. </p>

      <p>4.2. The musical.ly team will pick a winner as &ldquo;musical.ly picks&rdquo; from all participants base on video quality, creativity, originality and which more fits the proposed theme. </p>
    
    </article>

  </article>

  <article>

    <h4>5. AWARDING </h4>

    <article>

      <p>5.1. All the winners will share &#8377;10,000,000 worth prize. </p>

      <p>5.2. FOR ALL AWARDS: IN CASE OF TAXES OR PRIZE-RELATED FEES, THESE ARE WINNERS RESPONSIBILITY. </p>

    </article>

  </article>

  <article>

    <h4>6. DELIVERY OF AWARDS </h4>

    <article>

      <p>6.1. The list of final winners will be announced on or about February 8, 2018. The Participants agrees that upon joining 1 Million Audition Indian Cultural Contest, they must provide the requested information clearly and completely so that musical.ly can contact them. Musical.ly will notify winners within 48 hours by email or by the media already mentioned in this term, such as telephone or direct message and the winners will have a deadline of up to 72 hours to accept the prize. Any attempted notification returned as undeliverable, or that is impossible to contact due to incomplete/erroneous information may result in disqualification of the Participant(s). The absence of a response by the winner will also cause disqualification of the participant. </p>

      <p>6.2. Prizes are non-transferable. No substitutions or cash equivalents are allowed except as otherwise decided by musical.ly, which reserves the right to award a prize of equal or greater value if the prize announced is not available or in its sole discretion. </p>

    </article>

  </article>



  <article>

    <h4>7. INTELECTUAL PROPERTY </h4>

    <article>

      <p>7.1. Ownership of the preexisting underlying intellectual property rights in the musical composition and sound recording selected by Participant for the Video remains as property of its respective owners. By participating in the Cultural Contest, each Participant grants to musical.ly a worldwide, non-exclusive, perpetual, fully paid, royalty-free, transferable right to display, reproduce, perform, use, and exhibit the Video (subject to the underlying intellectual property rights in the composition and recording utilized by Participant) and materials and information submitted on and in connection with the Cultural Contest, including to broadcast it via television of any kind (open television, or subscription paid television, through any existing signal transmission forms), including &ldquo;pay TV&rdquo;, &ldquo;pay per view&rdquo;, &ldquo;near video on demand&rdquo; or &ldquo;video on demand&rdquo;, being capable of authorizing the use by third parties, develop any license activities for products and/or services deriving from the Cultural Contest, disseminate it through the Internet, through the platform developed or managed by Musical.ly or in any other website, for streaming or download, through IP platforms, including apps, make available, create derivative works, retransmit on external sites and otherwise explore and use the Videos and Images, as well as image and voice, by any media known or future developed formats for the purposes of advertising, marketing and promotion of Musical.ly and the Cultural Contest. </p>

      <p>7.1.1. Musical.ly may fully exercise all the rights mentioned in item 7.1 above, without limitation or restriction of any kind, in India or any other country worldwide, without the need of any payment of any additional fee or other consideration whatsoever to Participant. </p>

      <p>7.2. Except with regard to the underlying song, each Participant hereby warrants that any Video and other materials and information provided by Participant are original and do not violate or infringe upon the copyrights, trademarks, rights of privacy, publicity, moral rights or other intellectual property or other rights of any person or entity, and do not violate any rules or regulations. </p>

      <p>7.3.&#8239;If the Video or entry information or materials provided by Participant contains any material or elements that are not owned by Participant and/or which are subject to the rights of third parties, Participant represents he or she has obtained, prior to submission of the Video and entry information or materials, any and all releases and consents necessary to permit use and exploitation of the Video and information and materials by musical.ly in the manner set forth in the Official Rules without additional compensation. </p>

      <p>7.4. Except with respect to the underlying song, each Participant warrants that the Video and entry materials and information provided do not contain information considered by Participant or any other third party to be confidential, and that the Video, entry materials and information provided do not violate any laws or regulations. &#8239;Participant agrees that musical.ly has the right to verify the ownership and originality of all Videos and that, upon musical.ly&rsquo;s request, Participant must submit a written copy of any release or permission entrant has received from a third party granting Participant the right to use such property. &#8239; </p>

      <p>7.5. Participant understands and acknowledges that in the event a submission is selected as a winning Video, and Participant&rsquo;s ownership, rights and the originality of the Video cannot be verified to the satisfaction of musical.ly or is in any other way ineligible, musical.ly may select an alternate winner based on the same judging criteria. </p>

    </article>

  </article>

  <article>

    <h4>8. GENERAL RULES. </h4>

    <article>

      <p>8.1. In the event of a dispute regarding any Video, that Video will be deemed made by the authorized holder of the primary Musical.ly account or email address associated with the Video at the time of the Video submission. </p>

      <p>8.2. By participating in this Cultural Contest, Participants agree to be bound by these Terms of Use and to musical.ly&acute;s decisions. Musical.ly is not responsible for technical, hardware, software, or telephone malfunctions of any kind, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled, or delayed electronic communications caused by Participant or by any of the equipment or programming associated with or utilized in this Cultural Contest or by any human error which may occur in the processing of the online entries in this Cultural Contest. </p>

      <p>8.3. Musical.ly reserves the right at its sole discretion to disqualify any Participant that tampers or attempts to tamper with the entry process or the operation of the Cultural Contest, mobile application, or website; violates these Terms of Use; or acts in an unsportsmanlike or disruptive manner, or with intent to annoy, abuse, threaten, or harass any other person. </p>

      <p>8.4. Any attempt by any person to deliberately undermine the legitimate operation of the Cultural Contest may be a violation of criminal and civil law, and, should such an attempt be made, Musical.ly reserves the right to seek damages from any such person and entrant to the fullest extent permitted by law. </p>

      <p>8.5. Musical.ly&rsquo;s failure to enforce any term of these Terms of Use will not constitute a waiver of that provision. Musical.ly reserves the right, at its sole discretion, to cancel, terminate, modify or suspend the Cultural Contest if it is not capable of running as planned, including, but not limited to, infection by computer virus, tampering, unauthorized intervention, fraud, technical failures, or any other problems beyond the control of the Musical.ly and award the prize from among all eligible online entries received prior to cancellation. </p>

      <p>8.6. Musical.ly and each of its respective affiliates, officers, directors, agents, and employees, will have no liability or responsibility for any claim arising in connection with participation in this Cultural Contest or the prize awarded. Winner assumes all liability for any injury or damage caused, or claimed to be caused, by participation in this Cultural Contest or use or redemption of any prize. </p>

    </article>

  </article>


  <article>

    <h4>9.&#8239;SPONSOR:&#8239; </h4>

    <p>The Sponsor of this Cultural Contest is MUSICAL.LY HONGKONG LIMITED, with headquarters in UNIT 402, 4/F FAIRMONT HOUSE 8 COTTON TREE DRIVE ADMIRALTY, HK, with branch office at 1920 Olympic Blvd. Santa Monica, California 90404. </p>

  </article>