<section id='about' class='about-container overflow-y-hidden'>
  <div class='title-container'>
    <h1> PRIZE </h1>
  </div>
  <div class='tab-container'>
   <p class="prize-text" >How can you withdraw Diamonds?</p>
   <img class="prize-steps" src="/act/assets/steps.png" title="musical.ly steps image" alt="msucial.ly one million setps"/>
   <img class="prize-steps-phone" src="/act/assets/steps_phone.png" title="musical.ly steps image" alt="msucial.ly one million setps"/>
  </div>
</section>