<section class='banner-container' id='home'>
  <div class='banner-content'>
    <img src='../../../assets/title(banner).png' class='banner-image'/>
    <div class='countDown'>
      <ul>
        <li class='days'>
          <span> 00 </span>
          days
        </li>
        <li class='hours'>
          <span> 00 </span>
          hours
        </li>
        <li class='minutes'>
          <span> 00 </span>
          minutes
        </li>
        <li class='seconds'>
          <span> 00 </span>
          seconds
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="m0 banner-mask">
  <video
    autoplay
    src="../../../assets/india_banner.mp4"
    poster="../../../assets/poster.jpeg"
    title="Big Buck Bunny"
    album="Blender"
    artist="Blender Foundation"
    layout="responsive"
    loop
  >
  </video>
</section>