<section id='winner'>
  <div class='winner-container'>
    <h1> WINNERS </h1>
    <div class='winner-tag-cotainer'>
      <div class="ampTabContainer">
        <% for(var i in  winners) { %>
            <button
              class="tabButton winner-tag <%= i == '#15sVinesAudition' ? 'active' : ''%>"
            >
              <%= i %>
            </button>
        <%
          }
        %>
      </div>
    </div>
    <div class="nameList">
      <% for(var i =0; i < winnerNameList.length; i++) { %>
          <span>
            @<%= winnerNameList[i] %>
          </span>
      <%
        }
      %>
    </div>
  </div>
</section>