<section id='winner'>
  <div class='winner-container page-height'>
    <h1> WINNERS </h1>
    <div class='winner-tag-cotainer'>
      <div class="ampTabContainer">
        <% for(var i in  winners) { %>
            <button
              on="tap:AMP.setState({ foo: 'cat' })"
              class="tabButton winner-tag"
            >
              <%= i %>
            </button>
        <%
          }
        %>
      </div>
    </div>
  </div>
</section>