<section id='winner'>
  <div class='winner-container'>
    <h1>  <%= JSON.parse(titleList).winner %> </h1>
    <div class='winner-tag-cotainer'>
      <div class="ampTabContainer">
        <% for(var i in  winners) { %>
            <button
              class="tabButton winner-tag <%= i == '#15sVinesAudition' ? 'active' : ''%>"
            >
              <%= i %>
            </button>
        <%
          }
        %>
      </div>
    </div>
    <div class="nameList">
      <p> coming soon ...</p> 
    </div>
  </div>
</section>