<section id='winners'>
  <div class='winner-container'>
    <h1> <%= JSON.parse(titleList).winner %> </h1>
    <div class="nameList">
      <% for(var i in  winnerNameList) { %>
        <span>@<%= winnerNameList[i] %></span>
      <%
        }
      %>
    </div>
    <a href="javascript:;" id="winnerList">Get all the winners</a>
  </div>
</section>