.ampstart-headerbar{
  position: fixed;
  display: flex;
  top: 0px;
  width: 100vw;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  z-index: 999;
  background: transparent;
}
.header-title{
  float: left;
  display: flex;
  min-width: 193px;
}
.ampstart-headerbar-nav{
  font-size: 1.4rem;
  margin: .5rem auto;
  display: inline-block;
  width: 81%;
}
.ampstart-headerbar-nav ul{
  text-align: center;
}
.ampstart-nav-item a{
  color: #fff;
}
.ampstart-nav-item:active,
.ampstart-nav-item:focus,
.ampstart-nav-item:hover{
  opacity:1
}
.ampstart-nav a,
.ampstart-navbar-trigger
{
  cursor:pointer;
  text-decoration:none
}
.ampstart-nav .ampstart-label{
  color:inherit
}
.relative{
  position: relative;
}
.icon{
  display: inline-block;
  margin: 1.5rem 1rem 0rem;
  vertical-align: middle;
}
.icon img{
  max-width: 165px;
}
-header{
  line-height:3.5rem;
  min-height:3.5rem
}
 .ampstart-nav-item,
 .ampstart-social-follow{
  margin:0 0 1rem
}
.ampstart-byline,.ampstart-caption,
.ampstart-hint,.ampstart-label {
  font-size: 1.125rem;
  color: #4f4f4f;
  line-height: 1.5;
  letter-spacing: .06rem
}

.ampstart-label {
  text-transform: uppercase
}

.lune-underline-strike:before{
  position: absolute;
  bottom: calc(.5em - 4px);
  left: 0;
  right: 0;
  height: .1em;
  min-height: 2px;
  content: "";
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  color: #fff;
}

.lune-underline-strike:focus:before,
.lune-underline-strike:hover:before {
  -webkit-transform: none;
  transform: none
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em
}

-header {
  position: absolute;
  top: 0;
  left: 1.5rem;
  height: 4.375rem
}

-nav {
  width: 100%;
  margin: 10rem auto;
}
.ampstart-nav .ampstart-label {
  color: inherit
}

.ampstart-navbar-trigger:focus {
  outline: none
}

.ampstart-nav .ampstart-label {
  color: inherit
}

.ampstart-nav-item:active,
.ampstart-nav-item:focus,
.ampstart-nav-item:hover {
  opacity: 1
}
.ampstart-nav-item {
  max-width: 7.5em;
  margin: auto 1.5rem;
  font-weight: 900;
  line-height: 3;
  display: inline-block;
}

-nav li.ampstart-nav-item {
  background: transparent;
  opacity: .8;
  display: block;
}

.ampstart-headerbar .ampstart-navbar-trigger:focus path:first-of-type,
.ampstart-headerbar .ampstart-navbar-trigger:hover path:first-of-type {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px)
}

.ampstart-headerbar .ampstart-navbar-trigger:focus path:last-of-type,
.ampstart-headerbar .ampstart-navbar-trigger:hover path:last-of-type {
  -webkit-transform: translateY(1px);
  transform: translateY(1px)
}
@media (min-width: 1024px) {
  -header {
    line-height: 5.75rem;
    min-height: 5.75rem
  }
}

@media (max-width:1023px) {
  .ampstart-headerbar{
    display: none;
  }
   a{
    color: #ff0f50;
  }
}
.lang-transfor{
  margin: .8rem 1rem auto auto;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  border: 1px solid #ff0f50;
  border-radius: 18px;
  padding: 9px 10px 5px 10px;
  display: inline-block;
  float: right;
  text-decoration: none;
  min-width: 136px;
}
.theme-red-nav{
  background: #ff0f50;
}
.theme-red-nav .lang-transfor{
  border: 1px solid #fff;
}
.lang-transfor-mobile{
  display: none;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 9px 10px 5px 10px;
  text-decoration: none;
  width: 136px;
  margin: 0 auto;
}