
<header class="ampstart-headerbar">
  <div class='header-title'>
    <div class='icon'>
      <img src=" <%= dir %>musically logo@2x.png" />
    </div>
  </div>
  <nav class="ampstart-headerbar-nav ampstart-nav">
    <ul class="list-reset">
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#home" class="text-decoration-none block">Home</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#about" class="text-decoration-none block">About</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#winner" class="text-decoration-none block">Winner</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#media" class="text-decoration-none block">Media</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#youcanmeet" class="text-decoration-none block">You Can meet</a>
      </li>
      <li class="ampstart-nav-item relative lune-underline-strike">
        <a href="#Partners" class="text-decoration-none block">Partners</a>
      </li>
    </ul>
  </nav>
</header>