<section id='Partners'>
  <div  class='partner-container top-margin-move-lg'>
    <div class='partner-content'>
      <h1> Our Partners </h1>
      <div>
        <img src=' <%= dir %>Nikon_LogoPNG-0.png' />
        <img src=' <%= dir %>envato-logo.png' />
        <img src=' <%= dir %>Activision_logo.png' />
        <img src=' <%= dir %>Citibank-logo.png' />
      </div>
    </div>
  </div>
</section>