<section id='Partners'>
  <div  class='partner-container top-margin-move-lg'>
    <div class='partner-content'>
      <h1> Our Partners </h1>
      <div>
        <img src='/Nikon_LogoPNG-0.png' />
        <img src='/envato-logo.png' />
        <img src='/Activision_logo.png' />
        <img src='/Citibank-logo.png' />
      </div>
    </div>
  </div>
</section>