<section id='Partners'>
  <div  class='partner-container top-margin-move-lg'>
    <div class='partner-content'>
      <h1> Our Partners </h1>
      <div>
        <img src='../../../assets/Nikon_LogoPNG-0.png' />
        <img src='../../../assets/envato-logo.png' />
        <img src='../../../assets/Activision_logo.png' />
        <img src='../../../assets/Citibank-logo.png' />
      </div>
    </div>
  </div>
</section>