<head>
  <meta charset='utf-8'>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="musical.ly, one million, 1m, musical">
  <meta name="description" content="musical.ly one million">
  <meta name="robots" content="none">
  <meta name="copyright" content="musical.ly">
  <meta name="revisit-after" content="5 days" >
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/act/assets/favicon_64.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="referrer" content="origin">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name='description' content='musical.ly one million'>
  <meta name="pathname" content="<%=path%>">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91635834-2"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag(){
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', 'UA-91635834-2')
  </script>
  <style>
    <%- include(cssSrc) %>
  </style>
</head>