<section id='winners'>
  <div class='winner-container'>
    <h1> <%=title%> </h1>
    <div class="nameList">
      <ul class="winner-top-container">
        <%if(!hasWinnerList){%>
          <% for(var i=0; i< 18; i ++ ) {%>
            <li class="winner-item">
              <img src="/act/assets/undifined.png"/>
            </li>
          <% } %>
        <%}%>
      </ul>
    </div>
    <%if(hasWinnerList){%>
      <a id="fetchAllWinnerList" href="javascript:void(0)">loading all winners</a>
    <%}%>
  </div>
</section>