<section id='youcanmeet'>
  <div class='title-container meet-container'>
    <h1>  <%= JSON.parse(titleList).youcanmeet %> </h1>
    <p> <%= aboutSubList.youcanmeetsub %> </p>
    <div class='slider-tab-container'>
      <div class='slider-meet' id='slick-meet'>
        <% for(var i=0; i < meetUserList.length; i ++) { %>
          <div class='slider-tab-item'>
            <img src="/act/assets/<%= meetUserList[i].icon %>" />
            <span><%= meetUserList[i].title %></span>
          </div>
        <%
          }
        %>
      </div>
    </div>
  </div>
</section>